In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.randint(0, 100, (10,2))

In [4]:
data

array([[34, 52],
       [59, 70],
       [40, 40],
       [ 2, 13],
       [62, 74],
       [55, 81],
       [ 8, 39],
       [33, 20],
       [23, 96],
       [73, 70]])

In [5]:
scaler_model = MinMaxScaler()

In [6]:
scaler_model.fit(data)

/home/flavius/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [7]:
scaler_model.transform(data)

array([[ 0.45070423,  0.46987952],
       [ 0.8028169 ,  0.68674699],
       [ 0.53521127,  0.3253012 ],
       [ 0.        ,  0.        ],
       [ 0.84507042,  0.73493976],
       [ 0.74647887,  0.81927711],
       [ 0.08450704,  0.31325301],
       [ 0.43661972,  0.08433735],
       [ 0.29577465,  1.        ],
       [ 1.        ,  0.68674699]])

In [8]:
scaler_model.fit_transform(data)

/home/flavius/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)

array([[ 0.45070423,  0.46987952],
       [ 0.8028169 ,  0.68674699],
       [ 0.53521127,  0.3253012 ],
       [ 0.        ,  0.        ],
       [ 0.84507042,  0.73493976],
       [ 0.74647887,  0.81927711],
       [ 0.08450704,  0.31325301],
       [ 0.43661972,  0.08433735],
       [ 0.29577465,  1.        ],
       [ 1.        ,  0.68674699]])

In [9]:
import pandas as pd

In [10]:
mydata = np.random.randint(0, 101, (50, 4))

In [11]:
mydata

array([[23, 10, 10, 13],
       [12, 82,  8,  8],
       [74,  3, 41, 81],
       [45, 59, 42, 63],
       [22, 36,  8, 64],
       [15, 10, 39, 35],
       [ 5, 29, 85, 58],
       [20, 82, 89, 72],
       [ 8, 57, 67, 91],
       [37, 81, 67, 63],
       [95, 32, 42, 27],
       [39, 59, 65,  8],
       [47, 60, 75,  2],
       [64,  8, 99, 68],
       [63, 43, 46, 69],
       [28,  1,  2, 42],
       [74, 44, 96, 58],
       [56, 79, 99, 30],
       [99,  9, 10, 17],
       [84, 75, 17, 38],
       [94, 64, 41, 77],
       [97, 89, 98, 90],
       [23, 48, 92, 13],
       [16, 48, 85, 20],
       [69, 15, 71, 32],
       [30, 59, 93,  0],
       [ 6, 82, 36,  7],
       [67,  6, 39, 56],
       [58, 58, 72,  4],
       [68, 61,  0, 35],
       [34, 42, 13, 42],
       [14, 89, 80, 97],
       [49, 77, 60,  5],
       [77, 63, 67, 62],
       [76, 41, 46, 82],
       [37, 96, 67, 52],
       [45, 96, 61, 80],
       [14, 88,  6, 64],
       [25, 78, 86, 89],
       [34, 82,  6,  7],
       [ 4, 80, 62, 30],
       [53, 93, 76, 79],
       [24,  0, 38, 71],
       [96,  9, 71, 22],
       [25, 71, 76, 34],
       [63, 68, 91, 27],
       [22,  2, 65, 31],
       [56, 89, 96, 14],
       [ 3, 70, 33, 67],
       [98, 16, 44, 91]])

In [12]:
df = pd.DataFrame(data=mydata, columns = ['f1', 'f2', 'f3', 'label'])

In [13]:
df

    f1  f2  f3  label
0   23  10  10     13
1   12  82   8      8
2   74   3  41     81
3   45  59  42     63
4   22  36   8     64
5   15  10  39     35
6    5  29  85     58
7   20  82  89     72
8    8  57  67     91
9   37  81  67     63
10  95  32  42     27
11  39  59  65      8
12  47  60  75      2
13  64   8  99     68
14  63  43  46     69
15  28   1   2     42
16  74  44  96     58
17  56  79  99     30
18  99   9  10     17
19  84  75  17     38
20  94  64  41     77
21  97  89  98     90
22  23  48  92     13
23  16  48  85     20
24  69  15  71     32
25  30  59  93      0
26   6  82  36      7
27  67   6  39     56
28  58  58  72      4
29  68  61   0     35
30  34  42  13     42
31  14  89  80     97
32  49  77  60      5
33  77  63  67     62
34  76  41  46     82
35  37  96  67     52
36  45  96  61     80
37  14  88   6     64
38  25  78  86     89
39  34  82   6      7
40   4  80  62     30
41  53  93  76     79
42  24   0  38     71
43  96   9  71     22
44  25  71  76     34
45  63  68  91     27
46  22   2  65     31
47  56  89  96     14
48   3  70  33     67
49  98  16  44     91

In [14]:
X = df[['f1', 'f2', 'f3']]

In [15]:
y = df['label']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [18]:
X_train.shape

(35, 3)

In [19]:
X_test.shape

(15, 3)